
.ppDropdownWrapper {
  position: relative;
}

.tlOptionsDropdown {
  width: 1.4rem;
  height: 1.4rem;
	background: #D3D3D3;
  cursor: pointer;
	border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tlOptionsDropdown:hover {
	background-color: #878787;
}

.ppDropdownMenu {
  position: absolute;
  top: 7rem;
  transform: translateY(-100%);
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 7rem;
  text-align: left;
}

.dropdownOption {
  background: none;
  border: none;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  transition: background 0.2s;
  font-size: 14px;
  color: rgb(70, 70, 70);
  font-weight: 550;
}

.dropdownOption:hover {
  background-color: #f0f0f0;
}

.optionIcon {
  float: right;
  margin-bottom: -0.1rem;
}