.box {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 20rem;
  height: 20rem;
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
}
  
.box:hover {
  transform: translateY(-5px);
}
  
.box-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.containerTop {
  display: flex;
  align-items: center;
}

.colorBox {
  border-radius: 8px;
  width: 3rem;
  height: 3rem;
}

.projectName {
  font-size: 20px;
  font-weight: 700;
  margin-left: 1rem;
}

.toggleButton {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
}

.toggleButton:hover {
  background-color: #218838;
}

.toggleButton.active {
  background-color: #CC0022; /* Green color when active */
  transform: scale(1.05); /* Slightly larger button when active */
}

.containerMiddle {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.tasksDone {
  margin-right: auto;
}

.progressBar {
  background-color: wheat;
  border-radius: 8px;
  height: 12px;
  margin-top: 8px;
}

.progress {
  background-color: #4caf50;
  height: 100%;
  border-radius: 8px;
  transition: width 0.3s ease;
}

.containerMiddleTwo {
  display: flex;
  margin-top: 1rem;
}

.containerBottom {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.dueDateWrap {
  background-color: #FFF2EC;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: auto;
}

.dueDate {
  font-size: 14px;
  font-weight: 650;
  color: #FD7B38;
}