.task-list{
    display: flex;
    border: 1px solid grey;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.taskListContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskListDate {
    font-weight: 500;
    font-size: 14px;
    margin-right: 1rem;
}

.taskListName {
    margin-right: 1rem;
    font-size: 18px;
}

.taskListButton {

}

.tasksContainer {
    border: 1px solid grey;
}