.app-container {
  display: flex;
  background-color: rgb(247, 247, 244);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.content {
  flex: 1;
  padding: 2.5rem;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-weight: 600;
  color: #4C4E4E;
}